:root {
    --pal1: #ffffff;
    --pal2: #000000;
    --pal3: #222222;
    --pal4: #333333;
    --pal5: #404040;
    --pal6: #505050;
    --rubixblue: #b6f2ff;
    --rubixblue2: #66738a;
    --rubixblue2-dark: #414b5e;
    --bar: 60px;
}